services:
  mysql:
    image: mysql:8.0
    container_name: images_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: products_db
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppassword
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: images_downloader
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./images:/app/images
      - ./:/app
    networks:
      - app_network
    environment:
      - DB_USER=appuser
      - DB_PASSWORD=apppassword
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=products_db

networks:
  app_network:
    driver: bridge

volumes:
  mysql_data:

